name: Generate Snake
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Dark Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Maryam-nokohan
          outputs: dist/snake-dark.svg
          theme: dracula

      - name: Upload artifact (v4)
        uses: actions/upload-artifact@v4
        with:
          name: snake
          path: dist/snake-dark.svg

      - name: Deploy Snake to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
